# Cherry Ho

## Research question/interests

Which country has the most golds when they are away teams?

Note to self: Be aware of the difference between Germany and Germany FR

In [ ]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.pylab as plt
import seaborn as sns
import missingno

In [ ]:
df=pd.read_csv("../data/raw/WorldCups.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

## Mile 3 Task1-2
Note to self: remember to EDA

In [ ]:
df.columns

Index(['Year', 'Country', 'Winner', 'Runners-Up', 'Third', 'Fourth',
       'GoalsScored', 'QualifiedTeams', 'MatchesPlayed', 'Attendance'],
      dtype='object')

In [ ]:
df['Year'] = df['Year'].astype('int64')
df['GoalsScored'] = df['GoalsScored'].astype('int64')
df['QualifiedTeams'] = df['QualifiedTeams'].astype('int64')
df['MatchesPlayed'] = df['MatchesPlayed'].astype('int64')

df['Country'] = df['Country'].astype('str')
df['Winner'] = df['Winner'].astype('str')
df['Runners-Up'] = df['Runners-Up'].astype('str')
df['Third'] = df['Third'].astype('str')
df['Fourth'] = df['Fourth'].astype('str')

df['Attendance'] = df['Attendance'].astype('str')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [ ]:
DeleteList=['Year','Runners-Up','Third','Fourth','GoalsScored','QualifiedTeams','MatchesPlayed','Attendance']
df = df.drop(DeleteList, axis=1)
df.head()

       Country      Winner
0      Uruguay     Uruguay
1        Italy       Italy
2       France       Italy
3       Brazil     Uruguay
4  Switzerland  Germany FR

In [ ]:
def f(row):
    if row['Country'] in row['Winner']:
        val = False
    else:
        val = True
    return val

In [ ]:
df['AwayTeam'] = df.apply(f, axis=1)
df

         Country      Winner  AwayTeam
0        Uruguay     Uruguay     False
1          Italy       Italy     False
2         France       Italy      True
3         Brazil     Uruguay      True
4    Switzerland  Germany FR      True
5         Sweden      Brazil      True
6          Chile      Brazil      True
7        England     England     False
8         Mexico      Brazil      True
9        Germany  Germany FR     False
10     Argentina   Argentina     False
11         Spain       Italy      True
12        Mexico   Argentina      True
13         Italy  Germany FR      True
14           USA      Brazil      True
15        France      France     False
16   Korea/Japan      Brazil      True
17       Germany       Italy      True
18  South Africa       Spain      True
19        Brazil     Germany      True

In [ ]:
df.drop(df[df['AwayTeam'] == False].index, inplace = True)
df = df.drop("AwayTeam", axis=1)
df

         Country      Winner
2         France       Italy
3         Brazil     Uruguay
4    Switzerland  Germany FR
5         Sweden      Brazil
6          Chile      Brazil
8         Mexico      Brazil
11         Spain       Italy
12        Mexico   Argentina
13         Italy  Germany FR
14           USA      Brazil
16   Korea/Japan      Brazil
17       Germany       Italy
18  South Africa       Spain
19        Brazil     Germany

In [ ]:
df = df.drop("AwayTeam", axis=1)
df

         Country      Winner
2         France       Italy
3         Brazil     Uruguay
4    Switzerland  Germany FR
5         Sweden      Brazil
6          Chile      Brazil
8         Mexico      Brazil
9        Germany  Germany FR
11         Spain       Italy
12        Mexico   Argentina
13         Italy  Germany FR
14           USA      Brazil
16   Korea/Japan      Brazil
17       Germany       Italy
18  South Africa       Spain
19        Brazil     Germany

In [ ]:
 df.to_csv('CleanedWorldCups.csv',index=False)

## Mile3 Task3